.contact-section {
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__left {
    flex: 1;
    background-color: var(--color-primary-light);
    padding: 30px 20px;
    border-radius: 32px;
    box-shadow: var(--shadow-medium);
    animation: fadeInLeft 0.8s ease;

    @media screen and (min-width: 768px) {
      padding: 48px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 28px;

    @media screen and (min-width: 768px) {
      font-size: 48px;
    }

    &::after {
      margin: 12px 0 0 0;
    }
  }

  &__form-field {
    margin-bottom: 20px;
  }

  &__button {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 300px;
  }

  &__map {
    flex-shrink: 0;
    height: 250px;
    width: 100%;
    border-radius: 24px;
    border: none;
    animation: fadeInRight 0.8s ease;
    transition: var(--transition-default);

    &:hover {
      transform: scale(1.02);
      box-shadow: var(--shadow-medium);
    }

    @media screen and (min-width: 768px) {
      width: 400px;
      height: 500px;
    }

    @media screen and (min-width: 1024px) {
      width: 500px;
    }
  }
}
