.input {
  position: relative;

  &__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__control {
    padding: 12px 16px;
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    border: 2px solid var(--color-secondary-dark);
    border-radius: 12px;
    background-color: transparent;
    transition: var(--transition-default);
    font-family: inherit;

    @media screen and (min-width: 768px) {
      padding: 14px 20px;
    }

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
      box-shadow: 0 0 0 3px rgba(129, 155, 87, 0.2);
    }

    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 14px;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}

.form-terms {
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.4;
  max-width: 260px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    max-width: 280px;
  }

  &__link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
    text-decoration: underline;
    transition: var(--transition-default);

    &:hover {
      color: var(--color-brand-normal);
    }
  }
}
