.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 30px;
}

.header__menu {
  display: none;
  gap: 40px;
}

@media screen and (min-width: 1024px) {
  .header__menu {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.header__button {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header__button {
    display: block;
  }
}

.header__burger {
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  fill: var(--color-primary-light);
  transition: var(--transition-default);
}

.header__burger:hover {
  fill: var(--color-brand-normal);
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .header__burger {
    display: none;
  }
}
